body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: grey;
    color: bisque;
}

.headerContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addBookContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    background-color: darkgray;
    height: 95%;
    width: 330px;
    margin-left: 4%;
    border-radius: 40px;
    min-width: 330px;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}

.libraryContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.libraryContainer>div {
    display:flex;
    flex-direction: column;

    
    height: 230px;
    width:230px;
    margin: 1.5%;
    flex: 0 0 250px;
    border-radius: 15px;
    background-color: rgb(49, 116, 209);
}

.libraryContainer>div:hover {

    background-color: rgb(27, 121, 253);
    box-shadow: 2px 2px 0 0 rgb(33, 125, 254);
}

.libraryContainer>div>div {
    padding-left:20px;
    padding-right: 2px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding-top:10px;
    font-size: large;
    color: bisque;
}

.addBookForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
}

.addBookForm>form>div {
    margin-bottom: 30px;
    flex:1 0 auto;
    display: flex;
}

.addBookContainer>h2 {
    margin-top: 40px;
    flex:1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.addBookForm>form>div>lable {
    margin-right: 5px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex: 1;
}

.buttonDiv {
    display: flex;
    align-items:flex-end;
    flex:1 0 0;
    margin-bottom: 10px;
    
}

.buttonDiv>button {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;   
    border: none;
    font-size: 15px;
    color: bisque;
}

.buttonDiv>:last-child {
    background-color: rgb(201, 32, 32);
}

.buttonDiv>:last-child:hover {
    background-color: rgb(228, 52, 52);

}

.buttonDiv>:first-child {
    background-color: rgb(56, 172, 20);
}

.buttonDiv>:first-child:hover {
    background-color: rgb(80, 180, 50);

}

